<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <title>Angular Playlist</title>
    <link href="content/css/styles.css" rel="stylesheet" type="text/css" />
    <script src="node_modules\angular\angular.min.js"></script>
    <script src="node_modules\angular-route\angular-route.min.js"></script>
    <script src="app\app.js"></script>
  </head>
  <body ng-controller="appController">
    <header ng-include="'header.html'"></header>
    <div class="container">
      <article
        ng-repeat="slide in slides"
        ng-class="{'active-slide':slide.style===1,'next-slide':slide.style===2,'last-slide':slide.style===0,}"
      >
        <div>{{slide.image}}</div>
      </article>
      <div class="prev" ng-click="sliderControl('left')"><</div>
      <div class="next" ng-click="sliderControl('right')">></div>
      <!-- <div class="prev" ng-click="sliderControl(left)><</div> -->
    </div>
  </body>
</html>
